RewriteEngine on
RewriteCond %{REQUEST_URI} !^/Brill/static
RewriteCond %{REQUEST_URI} !^/index.php
RewriteCond %{REQUEST_URI} !^/daemon.php
RewriteCond %{REQUEST_URI} !^/Brill/css
RewriteCond %{REQUEST_URI} !^/Brill/img
RewriteCond %{REQUEST_URI} !^/Brill/js
RewriteRule ^(.*)$ /index.php [L]
