RewriteEngine on
RewriteCond %{REQUEST_URI} !^/Brill/index.php
RewriteCond %{REQUEST_URI} !^/Brill/Brill/css
RewriteCond %{REQUEST_URI} !^/Brill/Brill/img
RewriteCond %{REQUEST_URI} !^/Brill/Brill/js
RewriteRule ^(.*)$ /Brill/index.php [L]
