var - переменная (идентификатор поля формы), ниже приведен список переменных получаемых из subscribeForm
category
title
annonce
body
author
company
contacts
email
captcha

------
isFail
current - по новой за основу взять ткекущий урл
repeat - полностью повторить rule

--------
for - ссылка на поле формы, пытается заполнить поле данными
attr(~test~) какие поля формы заполнять


-----
request - выполнить запрос
download - скачать файл, возвращает ссылку на скаченный файл
find - поиск текста
request - должен произойти редрект


