RewriteEngine on
RewriteCond %{REQUEST_URI} !^/serp_parser/index.php
RewriteCond %{REQUEST_URI} !^/serp_parser/Brill/css
RewriteCond %{REQUEST_URI} !^/serp_parser/Brill/img
RewriteCond %{REQUEST_URI} !^/serp_parser/Brill/js
RewriteRule ^(.*)$ /serp_parser/index.php [L]
