body {
    font-family:arial;
    font-size:10pt;
    color: #333;
    margin: 0;
    padding: 0;

}
h1 {
    font-size: 1.2em;
}
#page {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}
#page .first_col{
    padding-left: 10px;
    width: 300px;
}

#page_menu{
    vertical-align: top;
    padding-left: 10px;
}

#page .last_col{
    width: 200px;
}
#page_head {
    height: 77px

}

#page_head td{
    background-color: #DDD;

}

#page_body {


}
#page_content {
    padding: 5px 10px;
    vertical-align: top;
}

form p {
    margin-bottom: 10px;
}

form {
    margin: 2px;
}

form .form_field_error{
    color:Red;
    padding-left:10px;
    float:left;
    width:300px;
}

form .form_field_info{
    color:#AAA;
    font-size: 0.9em;
    padding-left:10px;
    float:left;
    width:300px;
}

#UserForm input {
    width: 500px;
}

form input {
    float: left;
    width: 300px;
}

form textarea {
    float: left;
    width: 300px;
}

form .submit {
    margin-top: 10px;
    width: 306px;
}
form select {
    float: left;
    width: 306px;
}


#UserForm textarea {
    width: 500px;

}

#UserForm select {
    width: 500px;

}
form label {
    display:block;
    float:left;
    padding:3px;
    text-align:right;
    width:150px;
}

.table {
    border-collapse: collapse;
    width:100%;
    margin:5px;
}
.table td {
    border: 1px solid #ccc;
    font-size:10pt;
    text-align: left;
    padding:3px;

}
.table th {
    border: 1px solid #ccc;
    border-collapse: separate;
    font-size:0.9em;
    text-align: left;
    padding:3px;
    text-align: center;
    font-weight: bold;
    background: #E1E4E8;

}
.table_chk {
    width: 1%;
}

.tableExt {
    border-collapse: collapse;

}
.tableExt td {
    border-bottom: 1px solid #ccc;
    font-size:10pt;
    text-align: left;
    padding:3px;

}
.tableExt th {
    border-bottom: 1px solid #ccc;
    border-collapse: separate;
    font-size:10pt;
    text-align: left;
    padding:3px;
    text-align: center;
    font-weight: bold;
}


.null_table {
    color:#80a6ae;
    text-align: center !important;
    padding: 10px 0;
    font-style: italic;
    font-size: 1.1em;
}

.separator_table {
    background-color: #DDD;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}



#wizzard_subscribe {
    margin: 0px;
}

#menu span {
    font-weight: bold;
}

#menu .none {
    color: #ccc;
}

#menu .yes {
    cursor: pointer;
}

.text_form td {
    border: 0;
}

.header_field {
    color: #F22;
    margin-right: 5px;
}

.form_txt_field {
    margin:5px 0;
}

#logs_bottom {
    padding: 3px;
    border-top:1px dotted #AAA;
}

#loading {
    position: absolute;
    background: #FFF;
    display: none;
}



a {
    color: #0771be;
    text-decoration: underline;
}
a:hover {
    color: #0771be;
}

a:visited {
    color: #0771be;
}

a:link {
   color: #0771be;
}

#page_menu li b {
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    background:none repeat scroll 0 0 #cfe2eb;
    margin-left:5px;
    padding:1px 3px;
    display: none;
    position: absolute;
}
#page_menu li b img {
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
}
#page_menu li b a {
    position: relative;
    top:1px;
 /*   margin-top: 2px;
    margin-left: 5px;*/
}

li .sep {
    border-bottom:1px dotted #AAA;
    list-style:none outside none;
    margin:10px 20px 5px 0;
}
img{
    border:0px;
}

td .options {
    width: 80px;
    text-align: center;
}



td .options a {
    margin:0 5px;
}

.error_content {
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    background:none repeat scroll 0 0 #FFCCCC;
    border:1px solid red;
    margin:5px;
    padding:5px;
    width:100%;
}

#page_head td {
    border-bottom:1px solid #999;
}

.mini_form {
    padding: 2px;
}

.mini_form p{
margin: 1px 0;
}

.mini_form input {
    float: right;
    width: 130px;
    height: 15px;
    font-size: 11px;
}

.mini_form textarea {
    float: right;
    width: 130px;
    height: 15px;
    font-size: 11px;
}

.mini_form select {
    float: right;
    width: 136px;
    height: 15px;
    font-size: 11px;
}

.mini_form label {
    padding:3px;
    text-align:right;
    font-size: 11px;
    width: auto;
    
}

.mini_form .submit {
    float: right;
    width: 136px;
    height: 22px;
    font-size: 11px;
    margin-top: 0;
}

li {
    list-style: none;
}

ul {
    padding: 0 0 10px 20px;
}