body {
    font-family:arial;
    font-size:10pt;
    color: #333;
    margin: 0;
    padding: 0;

}
h1 {
    font-size: 1.2em;
}
#page {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}
#page .first_col{
    padding-left: 10px;
    width: 250px;
}

#page_menu{
    vertical-align: top;
    padding-left: 10px;
}

#page .last_col{
    width: 200px;
}
#page_head {
    height: 77px

}

#page_head td{
    background-color: #CFCFCF;

}

#page_body {


}
#page_content {
    padding: 5px 10px;
    vertical-align: top;
}

form p {
    margin-bottom: 10px;
}

form {
    margin: 2px;
}

form .form_field_error{
    color:Red;
    padding-left:10px;
    float:left;
    width:300px;
}

form .form_field_info{
    color:#AAA;
    font-size: 0.9em;
    padding-left:10px;
    float:left;
    width:300px;
}

#UserForm input {
    width: 500px;
}

#WideForm input {
    width: 500px;
}

#WideForm textarea {
    width: 500px;
}

#WideForm select {
    width: 506px;
}

#WideForm .submit {
    width: 506px;
}

form input {
    float: left;
    width: 300px;
}

form textarea {
    float: left;
    width: 300px;
}

form .submit {
    margin-top: 10px;
    width: 306px;
}
form select {
    float: left;
    width: 306px;
}

#subscribe_form input {
    float: left;
    width: 500px;
}
#subscribe_form textarea {
    width: 500px;

}

#subscribe_form select {
    width: 500px;

}

#subscribe_form .submit {
    margin-top: 10px;
    width: 506px;
}
#subscribe_form select {
    float: left;
    width: 506px;
}
form label {
    display:block;
    float:left;
    padding:3px;
    text-align:right;
    width:150px;
}

.table {
    border-collapse: collapse;
    width:100%;
    margin:5px;
    border:1px solid #ccc;
}
.table td {
    font-size:10pt;
    text-align: left;
    padding:3px;
    border-color: #CCC #DDD;
    border-style: solid dotted;
    border-width: 1px;

}
.table th {
    border: 1px solid #ccc;
    border-collapse: separate;
    font-size:0.9em;
    text-align: left;
    padding:3px;
    text-align: center;
    font-weight: bold;
    background: #E1E4E8;

}
.table_chk {
    width: 1%;
}

.tableExt {
    border-collapse: collapse;

}
.tableExt td {
    border-bottom: 1px solid #ccc;
    font-size:10pt;
    text-align: left;
    padding:3px;

}
.tableExt th {
    border-bottom: 1px solid #ccc;
    border-collapse: separate;
    font-size:10pt;
    text-align: left;
    padding:3px;
    text-align: center;
    font-weight: bold;
}


.null_table {
    color:#80a6ae;
    text-align: center !important;
    padding: 10px 0;
    font-style: italic;
    font-size: 1.1em;
}

.separator_table {
    background-color: #DDD;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}



#wizzard_subscribe {
    margin: 0px;
}

#menu span {
    font-weight: bold;
}

#menu .none {
    color: #ccc;
}

#menu .yes {
    cursor: pointer;
}

.text_form td {
    border: 0;
}

.header_field {
    margin-right: 5px;
    color: #888;
}

.form_txt_field {
    margin:5px 0;
}

#logs_bottom {
    padding: 3px;
    border-top:1px dotted #AAA;
}

#loading {
    position: absolute;
    background: #FFF;
    display: none;
}



a {
    color: #0771be;
    text-decoration: underline;
}
a:hover {
    color: #0771be;
}

a:visited {
    color: #0771be;
}

a:link {
   color: #0771be;
}

#page_menu li {
    line-height: 140%;
}

#page_menu li b {
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius: 3px;
    background:none repeat scroll 0 0 #cfe2eb;
    margin-left:5px;
    padding:1px 3px;
    display: none;
    position: absolute;
}
#page_menu li b img {
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius: 2px;
}
#page_menu li b a {
    position: relative;
    top:1px;
 /*   margin-top: 2px;
    margin-left: 5px;*/
}

li .sep {
    border-bottom:1px dotted #AAA;
    list-style:none outside none;
    margin:10px 20px 5px 0;
}
img{
    border:0px;
}

td .options {
    width: 80px;
    text-align: center;
}



td .options a {
    margin:0 5px;
}

.error_content {
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius: 2px;
    background:none repeat scroll 0 0 #FFCCCC;
    border:1px solid red;
    margin:5px;
    padding:5px;
    float:left;
   /* width:100%;*/
}

.error {
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: black;
    float: left;
    margin:25px 5px;
    font-size: 1.15em;
    padding: 8px 8px 8px 30px;

}
.notice {
    background: url("/ba/Brill/img/notice.png") no-repeat scroll 7px center #FFE59F;
    border: 1px solid black;
    cursor: pointer;
}
.warning {
    background: url("/ba/Brill/img/warning.png") no-repeat scroll 7px center #FFAFAF;
    border: 1px solid #BF0000;
}

.message_content {
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius: 2px;
    background:none repeat scroll 0 0 #eee;
    border:1px solid #999;
    margin:25px 5px;
    padding:5px;
    float:left;
   /* width:100%;*/
}

.block_error {
    background:none repeat scroll 0 0 #fdd !important;
    border:1px solid red !important;
}
#page_head td {
    border-bottom:2px ridge #CCC;
}

.mini_form {
    padding: 2px;
    width:200px;
    float: right;
}

.mini_form p{
    margin: 1px 0;
    padding: 1px 0;
}

.mini_form .form_content input {
    border:1px solid #999;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    float: right;
    width: 130px;
    height: 17px;
    font-size: 11px;
    background-color: white;
}

.mini_form .form_content textarea {
    float: right;
    width: 130px;
    height: 17px;
    font-size: 11px;
}

.mini_form .form_content select {
    float: right;
    width: 136px;
    height: 17px;
    font-size: 11px;
}

.mini_form .form_content label {
    padding:3px;
    text-align:right;
    width: auto;

}

.mini_form .submit {
    float: right;
    width: 132px;
    height: 23px;
    font-size: 11px;
    margin-top: 2px;
}
.mini_form .form_field_info,
.mini_form .form_field_error {
    font-size: 0.85em;
}
.mini .form_field_error {
    font-size: 0.8em
}
li {
    list-style: none;
}

ul {
    padding: 0 0 10px 15px;
}


th img {
    margin-right:3px;
}

form p img {
    margin: 0 5px;
    float: left;
}

.before_form {
    width: 750px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

.after_form {
    width: 750px;
    margin-top: 10px;
}

.first_col a {
    float:left;
}

.first_col div  {
    float:left;
    padding-left:10px;
    padding-top:15px;
}

.first_col div i {
    font-size: 0.8em;
    color: #eee;
    text-shadow: 0 0 2px #444;
}


/**** страница авторизации****/
#block_login {
    float: left;
    border: 1px solid rgb(153, 153, 153);
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #eee;
    border-radius: 5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    margin-left: -183px;
    margin-top: -70px;
    width:365px;
}


table .col_iterator {
    width: 25px;
    text-align: center;
    
}



.ind_status {
    float: left; width: 4px; height: 4px; border: 1px solid #ccc; margin: 6px 1px 1px;
}

.st_No {

}

.st_Busy {
    border: 1px solid #999;
    background-color: #ddd;
}

.st_Error {
    border: 1px solid #c00; background-color: #ff6f6f;
}

.st_Ok {
    border: 1px solid #090; background-color: #0c0;
}

.proress_bar {
    margin: 5px 5px 2px 0;
}

.progress_text {
    float: left; margin: 1px; font-size: 0.85em; color: #999;
}

.user_block {
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px;
    background: url("/ba/Brill/img/bg_gradient2.png") repeat-x 0 0 #EFEFEF;
    border: 1px solid #777;
    float: right;
    height: 70px;
    margin: 5px 4px 3px;
    padding: 2px 6px;
    width: 300px;

}

.user_block p{
    margin:1px 0;
}

.user_block i{
    color: #999;
    font-size: 0.8em;
}

.user_block a{
    margin:0 2px;
}

.user_block b{
text-shadow: 1px 1px 0 #FFFFFF;
}

.first_col b {
    text-shadow: #FFCA6F 1px 1px 1px;
    font-size: 1.4em;
    color: #000000;
    font-weight: normal;
    text-shadow: 1px 1px 0 #EDEDED;
    font-family: georgia,"times new roman",times,serif;
}


.welcome {
    font-family: georgia,"times new roman",times,serif;
    font-size: 1.2em;
    margin: 30px 0;
    float:left;
    color: #222;
    text-shadow:1px 1px 0 #EDEDED;
}

/** blockUI**/

.blockMsg {
    background: #fff;
    border: 1px solid #333;
    padding: 2px;
    background-color:#fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.blockMsg h1 {
    -moz-border-radius: 3px 3px 0 0;
    background: none repeat scroll 0 0 #CCCCCC;
    color: #333333;
    font-size: 1.15em;
    font-weight: normal;
    margin: 0;
    padding: 5px;
    text-align: left;
    text-shadow: 1px 1px 0 #EDEDED;
}




.yandex {
    color:black;
    font-weight: normal !important;
}

.yandex span {
    color:red;
    font-weight: normal !important;
}
